<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vivaldi Spring, home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>
<body>

    <div class="text-center text-black-500 text-xs" th:insert="fragments/header :: header"></div>

      <div class="container mx-auto md:flex md:justify-center mb-6 pt-8">

      <div class="max-w-lg rounded overflow-hidden shadow-lg">
        <img class="w-full" src="img/Sweet_alyssum.jpg" alt="the flower alyssum">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Alyssa
          </div>
          <p class="text-gray-700 text-base">
              meaning for German : Noble, Greek : Truth, Rational, Irish : Of noble birth, Arabic : Moon goddess
          </p>
        </div>
      </div>

    </div>
    <div class="text-center text-black-500 text-xs" th:insert="fragments/footer :: footer"></div>
</body>
</html>